<ion-modal trigger="open-modal-register" animated="true" (willDismiss)="confirm($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon (click)="action('cancel')" class="pl-2 cursor-pointer text-4xl text-red-600"
                    name="backspace-outline"></ion-icon>
        </ion-buttons>
        <div class="flex w-full items-center justify-center">
          <h1 class="text-2xl font-bold">Créer un compte</h1>
        </div>
        <ion-buttons slot="end" *ngIf="registerForm.valid">
          <ion-icon (click)="action('confirm')" class="pr-2 cursor-pointer text-3xl text-green-600"
                    name="checkmark-circle-outline"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ul class="flex flex-col gap-4 pt-6" [formGroup]="registerForm">
        <li class="p-2">
          <ion-input name="email" errorText="Format de l'adresse email invalide" helperText="ex: johndoe@example.com" formControlName="email" class="p-3" label="Email" type="text" label-placement="floating" fill="outline" placeholder="Votre addresse email" [clearInput]="true"></ion-input>
        </li>
        <li class="p-2">
          <ion-input [name]="" errorText="Le mot de passe doit faire au moins 6 caractères" helperText="6 caractères minimum"  formControlName="password" class="p-3" label="Mot de passe" type="password" label-placement="floating" fill="outline" placeholder="Nouveau mot de passe" [clearInput]="true"></ion-input>
        </li>
        <li class="p-2">
          <ion-input [name]="" formControlName="passwordConfirmation" class="p-3"  label="Confirmation du mot de passe" type="password" label-placement="floating" fill="outline" placeholder="Confirmation du mot de passe" [clearInput]="true"></ion-input>
          <ion-note *ngIf="registerForm.value.passwordConfirmation !== registerForm.value.password" slot="error" class="text-red-500 pl-3 text-[12px]">Les mots de passe doivent être identiques</ion-note>
        </li>
      </ul>
    </ion-content>
  </ng-template>
</ion-modal>
