<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ul class="flex w-full justify-around items-center">
      <li><ion-icon name="home-outline" class="text-3xl text-yellow-600 cursor-pointer" routerLink="/dashboard"></ion-icon></li>
      <li><ion-icon name="bulb-outline" class="text-3xl cursor-pointer" routerLink="/feed"></ion-icon></li>
      <li><ion-icon name="home-outline" class="text-3xl cursor-pointer" routerLink="/dashboard"></ion-icon></li>
      <li><ion-icon name="cog-outline" class="text-3xl cursor-pointer" routerLink="/parameters"></ion-icon></li>
    </ul>
  </ion-toolbar>
</ion-footer>
