<ion-content [fullscreen]="true">
  <div class="h-full">
    <div class="flex w-full items-center p-8">
      <ion-icon name="bulb-outline" class="text-5xl text-yellow-600"></ion-icon>
      <h1 class="text-5xl font-bold" id="title">Ideaz.io</h1>
    </div>
    <div class="text-3xl text-gray-500 flex items-center flex-col justify-center pb-16 px-8">
      <p class="py-12">
        L'aventure commence <span class="text-yellow-600">ici</span>.
      </p>
      <ul class="text-xl flex flex-col gap-2">
        <li class="flex items-center gap-2">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          L'information simplifié et intuitif.
        </li>
        <li class="flex items-center gap-2">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Soyez à l'affût des dernières tendances.
        </li>
        <li class="flex items-center gap-2">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Trouvez et explorez des idées.
        </li>
        <li class="flex items-center gap-2">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Partagez vos idées avec le monde.
        </li>
      </ul>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="flex justify-center">
          <ion-button expand="block" id="open-modal-register"  class="text-lg">
            <ion-label class="text-sm">Créer un compte</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="12" class="flex justify-center">
          <div class="h-[2px] bg-gray-300 w-1/2 rounded-lg"></div>
        </ion-col>
        <ion-col size="12" class="flex justify-center">
          <ion-button expand="block" id="open-modal-login" class="text-lg">
            <ion-label class="text-sm">Se connecter</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <app-register-modal></app-register-modal>
  <app-login-modal></app-login-modal>





</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="text-gray-400">Ideaz.io © 2023</ion-title>
  </ion-toolbar>
</ion-footer>
