<ion-content [fullscreen]="true">
  <div class="h-full">
    <div class="flex w-full items-center p-8">
      <ion-icon name="bulb-outline" class="text-5xl text-yellow-600"></ion-icon>
      <h1 class="text-5xl font-bold" id="title">Ideaz.io</h1>
    </div>
    <div class="text-3xl text-gray-500 flex items-center flex-col justify-center pb-16 px-8">
      <p class="py-12">
        L'aventure commence <span class="text-yellow-600">ici</span>.
      </p>
      <ul class="text-xl flex flex-col gap-2">
        <li class="flex items-center gap-2">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          L'information simplifié et intuitif.
        </li>
        <li class="flex items-center gap-2">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Soyez à l'affût des dernières tendances.
        </li>
        <li class="flex items-center gap-2">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Trouvez et explorez des idées.
        </li>
        <li class="flex items-center gap-2">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Partagez vos idées avec le monde.
        </li>
      </ul>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="flex justify-center">
          <ion-button expand="block" id="open-modal"  class="text-lg">
            <ion-label class="text-sm">Créer un compte</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="12" class="flex justify-center">
          <div class="h-[2px] bg-gray-300 w-1/2 rounded-lg"></div>
        </ion-col>
        <ion-col size="12" class="flex justify-center">
          <ion-button expand="block" (click)="login()" class="text-lg">
            <ion-label class="text-sm">Se connecter</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-icon (click)="action('cancel')" class="pl-2 cursor-pointer text-4xl text-red-600"
                      name="backspace-outline"></ion-icon>
          </ion-buttons>
          <div class="flex w-full items-center justify-center">
            <h1 class="text-2xl font-bold">Créer un compte</h1>
          </div>
          <ion-buttons slot="end" *ngIf="registerForm.valid">
            <ion-icon (click)="action('confirm')" class="pr-2 cursor-pointer text-3xl text-green-600"
                      name="checkmark-circle-outline"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ul class="flex flex-col gap-4 pt-6" [formGroup]="registerForm">
          <li class="p-2">
            <ion-input name="email" errorText="Format de l'adresse email invalide" helperText="ex: johndoe@example.com" formControlName="email" class="p-3" label="Email" type="text" label-placement="floating" fill="outline" placeholder="Votre addresse email" [clearInput]="true"></ion-input>
          </li>
          <li class="p-2">
            <ion-input [name]="" errorText="Le mot de passe doit faire au moins 6 caractères" helperText="6 caractères minimum"  formControlName="password" class="p-3" label="Mot de passe" type="password" label-placement="floating" fill="outline" placeholder="Nouveau mot de passe" [clearInput]="true"></ion-input>
          </li>
          <li class="p-2">
            <ion-input [name]="" formControlName="passwordConfirmation" class="p-3"  label="Confirmation du mot de passe" type="password" label-placement="floating" fill="outline" placeholder="Confirmation du mot de passe" [clearInput]="true"></ion-input>
              <ion-note *ngIf="registerForm.value.passwordConfirmation !== registerForm.value.password" slot="error" class="text-red-500 pl-3 text-[12px]">Les mots de passe doivent être identiques</ion-note>
          </li>
        </ul>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="text-gray-400">Ideaz.io © 2023</ion-title>
  </ion-toolbar>
</ion-footer>
